.box {
  border: 1px solid #ccc;
  padding: 20px 10px;
  margin-bottom: 10px;
  display: flex;
  position: relative;
  cursor: pointer;
}
.box:active , button:active{

  box-shadow: 0 0 5px 0  #FF6B82;
}
input[type="radio"]{

  cursor: pointer;
}

.box label {
  margin-right: 10px;
}
.container{

  width: 350px;
  margin: 40px auto;
  font-size: 14px;
  border: 2px solid #FF6B82;
  padding: 25px;
}
.quantity-nd-price{

  display: flex;
  flex-direction: column;
  margin-left: 10px;
 
}
.parent-inside{

  display: flex;
  flex-direction: column;
}
.dropdwn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-left: -14px;
  display: none;
}
.row {
  display: flex;
  align-items: center;
  width: 300px;
  margin-bottom: 10px;
}
label {
  margin-right: 10px;
}
select {
  padding: 2px;
  margin-right: 15px;
 margin-top: 2px;
 font-size: 11px;
  box-sizing: border-box;
}
.col {
  display: flex;
  flex-direction: column;
}
.discount-perc {
  position: absolute;
  right: 30px;
  top: 10px;
  display: flex;
  flex-direction: column;
}
.box2{


  padding: 10px 0px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
button{
  width: 100%;
  padding: 2%;
  background-color: #FF6B82;
  color: #ffff;
  border: none;
  cursor: pointer;
}
.off-bg-pink{
background-color: #FF6B82;
  color: white;
  padding: 0px 6px;
  margin-left: 5px;
  font-size: 12px;;
  font-weight: normal;
}
.text-bold{
font-weight: bold;
}
s{
opacity: 0.3;
  font-size: 10px;
}
.mostpopular-tag{

position: absolute;
  right: -31px;
  top: -12px;
  font-size: 12px;
  width: 100px;
  padding: 2px;
  background-color: #FF6B82;
  color: white;
  border-radius: 0 0 5px 5px;
}
.color-pink{

color: #FF6B82;
}
.mt-12{
margin-top: 12px;;
}
.mt-20{

margin-bottom: -24px;
}
.mt-3{
margin-bottom: -8px;
}
.horizontal-line-text {
display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 405px;
  margin: auto;
  color: #FF6B82;
  font-size: 24px;
  margin-top: 50px;
  }

  .horizontal-line-text::before,
  .horizontal-line-text::after {
      content: "";
      flex: 1;
      border-top: 1px solid #C8C8C8;
  }

  .horizontal-line-text span {
      background-color: #fff;
      padding: 0 10px;
      z-index: 1;
  }